@inherits LayoutComponentBase

<div class="bigBox">
    <header class="site-header">
        <h1 class="site-title">KociaKinematografia.XDD</h1>
    </header>

    <main class="site-main">
        @Body
    </main>

    <footer class="site-footer">
        Jan Bączkowski 123810 Łódź Grupa 1
    </footer>
</div>